.postContainer {
  width: 600px;
  min-height: 200px;
  max-height: 200px;
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}

.author {
  font-weight: bold;
  float: left;
  margin-left: 10px;
}

.date {
  float: right;
  margin-right: 10px;
}

.header {
  height: 10px;
  margin: 10px 0;
}

.title {
  margin: 10px 0;
}

.postLink {
  color: #000;
  text-decoration: none;
}

.postLink:visited {
  color: #000;
  text-decoration: none;
}

.content-wrapper {
  padding: 10px;
  max-width: 400px;
  margin: 0px auto;
  text-align: initial;
}

.content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
