:root {
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.25rem;
}

.btn {
  cursor: pointer;
  color: white;
  background: #645cff;
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: #3c3799;
}

.btnBlock {
  width: 100%;
}

.form {
  width: 90vw;
  max-width: 400px;
  background: rgb(252, 247, 247);
  border-radius: 0.25rem;
  box-shadow: var(--shadow);
  padding: 2rem 2.5rem;
  margin: 3rem 0;
}
.formLabel {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.formInput {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background: 0.25rem;
  border: 1px solid #c1beff;
}

.formRow {
  margin-bottom: 1rem;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register {
  display: block;
  margin-top: 1rem;
}

::placeholder {
  font-family: inherit;
  color: grey;
}

/* [aria-current='page'] {
  color: var(--primary-500);
} */
