.postContainer {
  width: 47vw;
  min-height: 22vh;
  margin: 3.5vh auto;
  padding: 1.5vh 1.5vw;
  overflow: hidden;
  background-color: rgb(253, 251, 251);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: box-shadow 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
}

.author {
  font-weight: bold;
  float: left;
  margin-left: 1vw;
}

.buttons {
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
}

.buttonLeft {
  margin-left: 10vw;
}
.buttonRight {
  margin-right: 10vw;
}

.date {
  float: right;
  margin-right: 1vw;
}

.header {
  height: 1vh;
  margin: 1vw 0;
}

.title {
  margin-top: 2.5vh;
  margin-bottom: 1vh;
  font-size: x-large;
}

.postLink {
  color: #000;
  text-decoration: none;
}

.postLink:visited {
  color: #000;
  text-decoration: none;
}

.content-wrapper {
  padding: 2vh 0;
  max-width: 80%;
  margin: 0px auto;
  text-align: initial;
}

.content {
  overflow: hidden;
  font-weight: 400;
  font-size: larger;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1024px) {
  .postContainer {
    width: 65vw;
  }
}

@media screen and (max-width: 768px) {
  .postContainer {
    width: 80vw;
  }
}
