.postContainer {
  width: 45vw;
  min-height: 22vh;
  margin: 2vh auto;
  padding: 10px;
  overflow: hidden;
  background-color: rgb(250, 248, 248);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
}

.author {
  font-weight: bold;
  float: left;
  margin-left: 10px;
}

.date {
  float: right;
  margin-right: 10px;
}

.header {
  height: 10px;
  margin: 10px 0;
}

.title {
  margin-top: 2.5vh;
  margin-bottom: 10px;
  font-size: x-large;
}

.postLink {
  color: #000;
  text-decoration: none;
}

.postLink:visited {
  color: #000;
  text-decoration: none;
}

.content-wrapper {
  padding: 2vh 0;
  max-width: 80%;
  margin: 0px auto;
  text-align: initial;
}

.content {
  overflow: hidden;
  font-weight: 400;
  font-size: larger;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
