.form {
  margin-top: 20vh;
}

.submitBtn {
  display: block;
}

.textPad {
  display: block;
  margin-top: 4vh;
  margin-bottom: 5vh;
  padding: 1rem;
  border: 2px solid rgb(236, 223, 223);
  border-radius: 2px;
  width: 60vw;
  min-height: 30vh;
  font-size: 1.3rem;
}

.textPad:focus {
  border: 2px solid transparent;
  outline: 2px solid rgb(188, 196, 204);
  border-radius: 2px;
}

.textPad:focus::placeholder {
  color: transparent;
}

.textPad::placeholder {
  color: rgb(53, 43, 43);
  font-size: 1.3rem;
}

.title {
  margin: 0 auto;
  padding: 0 5px;
  display: block;
  width: 30vw;
  height: 2.5rem;
  border: 2px solid rgb(236, 223, 223);
  border-radius: 2px;
  font-size: 1.6rem;
}

.title:focus {
  border: 2px solid transparent;
  outline: 2px solid rgb(188, 196, 204);
  border-radius: 2px;
}

.title:focus::placeholder {
  color: transparent;
}

.title::placeholder {
  color: rgb(44, 33, 33);
  font-size: 1.6rem;
  text-align: center;
}

.write {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
